/* Mobile Mode */
* {
  padding: 0px;
  margin: 0px;
  font-family: Rockwell;
  list-style: none;
  text-decoration: none;
  color: rgb(174, 254, 255);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(7, 34, 39);
  padding: 10px;
  position: sticky;
  top: 0px;
}

#home {
  font-size: 34px;
}

nav {
  display: flex;
  gap: 10px;
  font-size: 18px;
}

.nav-projects:hover,
.nav-skills:hover,
.nav-contact:hover,
#home:hover {
  text-decoration: underline;
}

/* About Me */
#introduction {
  font-weight: bold;
  font-size: 42px;
  color: rgb(174, 254, 255);
  padding: 10px;
}

#about-me {
  padding: 50px 10px;
  background-color: rgb(7, 34, 39);
}

.profession {
  font-size: 24px;
  color: rgb(174, 254, 255);
  padding: 10px;
}

.description {
  margin-bottom: 20px;
  font-size: 18px;
  color:rgb(79, 189, 186);
  padding: 10px;
}

.logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.logo-container img {
  flex: 0;
  padding: 0px 10px;
}

.resume:hover,
.github:hover,
.linkedin:hover {
  position: relative;
  bottom: 2px;
}

.about-me-logo-size {
  width: 40px;
  height: 40px;
}

/* Projects */
#projects {
  background: linear-gradient(160deg, rgb(7, 34, 39), rgb(53, 133, 139));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 60px 10px;
  font-size: 32px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

button {
  background-color: rgb(53, 133, 139);
  border: 1px solid rgb(174, 254, 255);
  padding: 2px 10px;
  text-align: center;
  border-radius: 5px;
}

button > a {
  color: rgb(174, 254, 255);
}

button:hover {
  text-decoration: underline;
}

button > img {
  margin-left: 2px;
}

.project-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-1,
.project-2,
.project-3,
.project-4 {
  padding: 10px;
  text-align: center;
}

.project-description {
  font-size: 16px;
  color:rgb(79, 189, 186);
}

.my-projects {
  width: 100%;
  color: rgb(174, 254, 255);
  text-align: center;
  font-weight: bold;
}

.wip-image-size {
  width: 150px;
  height: 150px;
}

/* Skills */
#skills {
  padding: 60px 10px;
  background: linear-gradient(350deg, rgb(7, 34, 39), rgb(53, 133, 139));
  font-size: 32px;
}

.git {
  color: rgb(241, 82, 51);
}

.html {
  color: rgb(241, 73, 11);
}

.css {
  color: rgb(33, 150, 243);
  font-size: 24px;
}

.javascript,
.mongodb,
.express,
.react,
.node {
  color: rgb(79, 189, 186);
  font-size: 24px;
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.my-skills {
  width: 100%;
  color: rgb(174, 254, 255);
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.skills-logo-size {
  height: 50px;
  width: auto;
}

/* Footer */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(7, 34, 39);
  height: fit-content;
  padding: 60px 10px;
  gap: 10px;
}

textarea,
input {
  color: rgb(174, 254, 255);
  width: 100%;
  resize: none;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(174, 254, 255);
  border-radius: 5px;
  padding: 4px;
  align-self: center;
}

input[type='submit'] {
  color: rgb(174, 254, 255);
  width: fit-content;
  border-color: rgb(174, 254, 255);
}

input[type='submit']:hover {
  cursor: pointer ;
}

::placeholder {
  color: rgb(133, 177, 179);
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
  padding: 20px;
}

.my-contact {
  order: 1;
  width: 100%;
  text-align: center;
}

.contact-us {
  width: 100%;
  padding: 10px;
}

.contact-details {
  font-size: 28px;
  letter-spacing: 2px;
}

/*  Tablet Mode */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* if the screen has width from 768 to 991px*/
  
  /* Header */
  header {
    padding: 10px 50px;
  }

  /* About Me */
  #about-me {
    padding: 60px 50px;
  }

  /* Projects */
  .project-1,
  .project-2,
  .project-3,
  .project-4 {
    width: 40%;
  }

  /* Skills */
  .skill-container {
    padding: 60px 55px;
  }

  /* Footer */
  footer {
    padding: 60px 50px;
  }

  .my-contact {
    order: 0;
    width: 50%;
    font-size: 22px;
    margin-right: 20px;
    text-align: left;
  }

  .contact-us {
    order: 1;
    width: 40%;
  }

}

/* Laptop/Desktop Mode */
@media only screen and (min-width: 992px) {
  /* if the screen has width >= 992px*/
  
  /* Header */
  header {
    padding: 10px 100px;
  }

  /* About Me */
  #about-me {
    padding: 60px 100px;
  }

  /* Projects */
  .project-1,
  .project-2,
  .project-3,
  .project-4 {
    width: 40%;
  }

  /* Skills */
  .skill-container {
    padding: 50px 100px;
  }
  
  /* Footer */
  footer {
    padding: 60px 100px;
  }

  .my-contact {
    order: 0;
    width: 50%;
    font-size: 22px;
    margin-right: 20px;
    text-align: left;
  }

  .contact-us {
    order: 1;
    width: 40%;
  }

}